.bg-green_detail {
  --bg-opacity: 1;
  background-color: #a9c7b1;
  background-color: rgba(169, 199, 177, var(--bg-opacity));
}

.hover\:bg-green_detail:hover {
  --bg-opacity: 1;
  background-color: #a9c7b1;
  background-color: rgba(169, 199, 177, var(--bg-opacity));
}

.border-green_light {
  --border-opacity: 1;
  border-color: #c0e5d8;
  border-color: rgba(192, 229, 216, var(--border-opacity));
}

.hover\:border-green_light:hover {
  --border-opacity: 1;
  border-color: #c0e5d8;
  border-color: rgba(192, 229, 216, var(--border-opacity));
}

.hover\:border-green_detail:hover {
  --border-opacity: 1;
  border-color: #a9c7b1;
  border-color: rgba(169, 199, 177, var(--border-opacity));
}

.text-green_dark {
  --text-opacity: 1;
  color: #455f5d;
  color: rgba(69, 95, 93, var(--text-opacity));
}

.bg-green_light {
  --bg-opacity: 1;
  background-color: #c0e5d8;
  background-color: rgba(192, 229, 216, var(--bg-opacity));
}

.text-green_medium {
  --text-opacity: 1;
  color: #698d86;
  color: rgba(105, 141, 134, var(--text-opacity));
}

.hover\:bg-green_light:hover {
  --bg-opacity: 1;
  background-color: #c0e5d8;
  background-color: rgba(192, 229, 216, var(--bg-opacity));
}

.hover\:text-black:hover {
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

.text-black {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
}