@font-face {
    font-family: Niveau Grotesk;
    font-weight: 400;
    src: url("NiveauGroteskRegular.otf")
}

#logo_yo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width: 123px;
    height: 114.219px;
    left: 50%;
    top: 10%;
    overflow: visible;
}


@media screen and (min-width:640px) {
    .home_show_homes_big {
        height: 150vh;
    }
}

.footer_typography {

    overflow: visible;
    white-space: nowrap;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: normal;
    /*font-size: 24px;*/
    color: rgba(192, 229, 216, 1);
}

.filter_typography {

    font-family: Niveau Grotesk;
    color: rgba(69, 95, 93, 1);
}

.Sobre_Y {
    overflow: visible;
    white-space: nowrap;
    line-height: 60px;
    text-align: left;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(192, 229, 216, 1);
}

.footer_bg {
    background-color: rgba(105, 141, 134, 1);
}

.button_bg {
    background-color: rgba(192, 229, 216, 1);
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: rgba(192, 229, 216, 1);;
}

.button_bg_meio_alpha {
    background-color: rgba(192, 229, 216, 0.5);
}

.header_color {
    background-color: rgba(74, 94, 93, 1);
}

.header_color_alpha {
    background-color: rgba(74, 94, 93, 0.9);
}

.barra_meio {
    background-color: rgba(192, 229, 216, 1)
}

.resultado_busca {
    white-space: nowrap;
    text-align: center;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: rgba(69, 95, 93, 1);
    text-transform: capitalize;
}

.borda_filtro {
    border-color: rgba(74, 94, 93, 1);
}

.warning_text {
    white-space: nowrap;
    text-align: left;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(69, 95, 93, 1);
}

.nome_casa {
    white-space: nowrap;
    text-align: left;
    font-family: Niveau Grotesk;
    color: rgba(69, 95, 93, 1);
}

.info_casa {
    text-align: left;
    font-family: Niveau Grotesk;
    color: rgba(69, 95, 93, 1);
}

.classificacao_texto {
    white-space: nowrap;
    text-align: left;
    font-family: Niveau Grotesk;
    color: rgba(69, 95, 93, 1);
}

.pontos_text {
    white-space: nowrap;
    font-family: Niveau Grotesk;
    color: rgba(105, 141, 134, 1);
}

.mais_resultados_font {
    white-space: nowrap;
    text-align: center;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(69, 95, 93, 1);
}

.usuario_font {
    white-space: nowrap;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(69, 95, 93, 1);
}

.busca_font {
    white-space: nowrap;
    text-align: left;
    font-family: Niveau Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: -0.38px;
}


@media screen and (max-width:990px) {
    .remove_cel {
        display: none;
    }
}

@media screen and (min-width:990px) {
    .remove_pc {
        display: none;
    }
}